
# Python
build/
dist/
*.egg-info/
__pycache__/
*.py[codz]
*$py.class
.pytest_cache/
.ruff_cache/
hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env/
.venv/
env/
venv
uv.lock

# mkdocs documentation
site/

# IDEs
.idea/
.vscode/

# System
.context/
.tools/
.DS_Store
